<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IChessServiceAdmin" closeTimeout="00:10:00"
     openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
     maxReceivedMessageSize="2147483647" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfService/ChessServiceAdmin/"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChessServiceAdmin"
    contract="ServiceReferenceChess.IChessServiceAdmin" name="BasicHttpBinding_IChessServiceAdmin" />
  </client>
	</system.serviceModel>
</configuration>